// Color
$cBobbleBlue: rgb(54,116,255);
$cBobbleWhite: rgb(255,255,255);
$cBobbleWhiteShadow: rgb(236,236,236);

$cMessageIcon: rgb(12,143,228);

$cTextDark: rgb(32,32,32);

$cSearchContainer: rgb(247,248,249);

$cCardUserActive: rgb(223,229,255);

$cIconDefault: rgb(205,191,191);
$cIconActive: rgb(64,169,255);